<a href="https://colab.research.google.com/github/haroldmark27/CPEN-21A-ECE--2-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [2]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break Statement

In [4]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [9]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
   break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through string

In [10]:
for x in "Phython Programming":
  print(x)

P
h
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The range()Function

In [11]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [13]:
for x in range(2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested Loops

In [16]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [19]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5
6

The break Statement

In [21]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [22]:
i=0
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [23]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

Application

In [29]:
#Create a Phython program that displays Hello 0 to Hello 10 in vertical sequence
hello=["Hello"]
num=["0","1","2","3","4","5","6","7","8","9","10"]
#for loop
for x in hello:
  for y in num:
    print(x,y)
#For While
i=0
while i<=10:
   print("Hello",i)
   i+=1 #Assignment operator for addition

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [30]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9